@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
:root {
  --clr-neon: hsl(400 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg);
  font-family: 'Balsamiq Sans', cursive;
  color: var(--clr-neon);
}
a {
  text-decoration: none;
}
.neon-btn {
  cursor: pointer;
  display: inline-block;
  font-size: 5rem;
  color: var(--clr-neon);
  border: currentColor 0.125em solid;
  border-radius: 0.25em;
  padding: 0.25em 1em;
  text-shadow: 0 0 0.075em hsl(0 0% 100% / 0.3), 0 0 0.125em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
