@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
:root {
  --clr-neon: hsl(400 100% 54%);
  --clr-bg: hsl(323 21% 16%);
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--clr-bg);
  font-family: 'Balsamiq Sans', cursive;
  color: var(--clr-neon);
}
a {
  text-decoration: none;
}
.neon-btn {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 3rem;
  color: var(--clr-neon);
  border: var(--clr-neon) 0.125em solid;
  border-radius: 0.25em;
  padding: 0.25em 1em;
  text-shadow: 0 0 0.075em hsl(0 0% 100% / 0.3), 0 0 0.125em currentColor;
  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
}
.neon-btn::before {
  content: '';
  pointer-events: none;
  position: absolute;
  background-color: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}
.neon-btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  box-shadow: 0 0 2em 0.25em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}
.neon-btn:hover,
.neon-btn:focus {
  color: var(--clr-bg);
  text-shadow: none;
}
.neon-btn:hover::before,
.neon-btn:focus::before {
  opacity: 1;
}
.neon-btn:hover::after,
.neon-btn:focus::after {
  opacity: 1;
}
